<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>SC Heat Basketball - {{ page.title }}</title>
<meta name="author" content="Daniel Jones http://djones.co/">
<meta name="copyright" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">
<link href="/stylesheet.css" rel="stylesheet" type="text/css">
<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>

<div id="main">

<div id="header">
{% include header.html %}
</div><!-- end header -->

<div id="nav">
{% include nav.html %}
</div><!-- end nav -->

<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div><!-- end content -->

</div><!-- end main -->

<div id="footer">
{% include footer.html %}
</div><!-- end footer -->

</body>
</html>
